body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Courier New', monospace, source-code-pro, Menlo, Monaco, Consolas;
    color: #282c34;
    /*background-color: rgba(141, 202, 220, 0.33);*/
    /*background-color: rgba(254, 254, 254, 1);*/
    padding: 0.17rem;
    text-decoration: underline;
}

h1 {
    /*border-bottom: 1px solid rgba(72, 68, 68, 0.67);*/
    /*background-color: rgb(254, 254, 254);*/
    /*text-decoration: underline;*/

    /*padding-bottom: 3px;*/
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1.3rem;
}

.hottest {
    border-top: 5px solid rgba(203, 22, 22, 0.67);
    border-bottom: 5px solid rgba(203, 22, 22, 0.67);
    /*border-left: 15px solid rgba(203, 22, 22, 0.67);*/
    /*border-right: 15px solid rgba(203, 22, 22, 0.67);*/
    padding: 0.25rem;
    margin: 0;
}
.hottestR {
    border-right: 9px solid rgba(203, 22, 22, 0.67);
}
.hottestL {
    border-left: 9px solid rgba(203, 22, 22, 0.67);
}

footer {
    padding-top: 1.2rem;
    padding-bottom: 2.1rem;
    background-color: rgba(240, 248, 255, 0.33);
}

section.listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3rem;
}

div.listingContainer {
    flex: 6;
    border: 10px solid rgba(128, 63, 63, 0.66);
    flex-direction: row;
    background-color: rgb(254, 254, 254);
    padding-bottom: 3rem;
}

.colSpacer {
    flex: 1;
    /*border: 10px solid green;*/
}

.rowOuter {
    flex: 1;
    /*border: 5px solid orangered;*/
}

.rowInner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.col1, div.col2, div.col3 {
    margin: 6px;
    padding: 6px;
}
.col1 {
    flex: 2;
    text-align: right;
    padding-right: 9px;
}
.col2 {
    flex: 3;
    padding-right: 9px;
    padding-left: 9px;
    left: 9px;
}
.col3 {
    flex: 2;
    text-align: left;
    padding-left: 9px;
}

.rowOlderOuter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rowOlderInner {
    /*border: 5px solid orangered;*/
    flex: 3;
    border-top: 1px solid rgb(40, 44, 52);
    padding-top: 0.67rem;
    margin-top: 2rem;
}
